## Analysis of Yelp Reviews 

##### Obtained Yelp reviews within 5 US cities of their top 500 Italian restaurants

In [1]:
import pandas as pd
import numpy as np
import seaborn as sn

In [ ]:
eataly_restaurants = ['New York City', 'Chicago', 'Las Vegas', 'Los Angeles', 'Boston', 'Dallas']
# represents existing locations of eataly in the US"
eataly_data = [['New York City', 63799, 8622357, 11084], ['Chicago', 57238, 2670406, 4535], 
               ['Los Angeles', 62474, 4085014, 3365], ['Boston', 71834, 701984, 5606],
               ['Dallas', 52210, 1400337, 1590]]
eataly_df = pd.DataFrame(eataly_data, columns = ['City', 'Median Income', 'Population', 'Density'])

In [ ]:
# eataly_df.agg(['std', 'mean'])['Median Income']
# eataly_income_std = eataly_df['Median Income'].agg('std')
eataly_income_std = round(np.std(eataly_df['Median Income']),0)
print('eataly_income_std: ', eataly_income_std)
eataly_income_mean = round(np.mean(eataly_df['Median Income']),0)
print('eataly_income_mean: ', eataly_income_mean)

eataly_population_std = round(np.std(eataly_df['Population']),0)
print('eataly_population_std: ', eataly_population_std)
eataly_population_mean = round(np.mean(eataly_df['Population']),0)
print('eataly_population_mean: ', eataly_population_mean)
eataly_density_std = round(np.std(eataly_df['Density']),0)
print('eataly_density_std: ', eataly_density_std)
eataly_density_mean = round(np.mean(eataly_df['Density']),0)
print('eataly_density_mean: ', eataly_density_mean)

In [ ]:
ls

##### Read in yelp reviews raw data into dataframe

In [23]:
yelp_raw_data.groupby('City')

AttributeError: Cannot access callable attribute 'unstack' of 'DataFrameGroupBy' objects, try using the 'apply' method

In [5]:
# yelp_raw_data = pd.read_csv('yelp_reviews.csv', index_col=0)
yelp_raw_data = pd.read_csv('eataly/yelp_reviews.csv')
yelp_raw_data

,City,Dollar_sign,Nbr_reviews,Rating,RestName
0,"San Francisco, CA","$$,$$,$$,$$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$$...",560 557 555 553 552 549 544 542 542 541 540 54...,"3.5 star rating,4.5 star rating,4 star rating,...","Park Gyros,Caffe Macaroni,Bambino’s Ristorante..."
1,"San Francisco, CA","$$,$$,$$,$$,$$,$,$$,$,$$$,$$,$,$$,$,$,$,$$,$$,...",661 660 656 653 650 634 631 628 624 624 618 61...,"4 star rating,4 star rating,4 star rating,3.5 ...","Bistro Aix,Ragazza,Spiazzo Ristorante,Il Borgo..."
2,"San Francisco, CA","$,$$,$$,$$,$$$,$$$,$$$,$$,$$,$$,$$,$$,$$,$$,$$...",860 857 847 840 834 826 822 809 807 803 799 79...,"4 star rating,3.5 star rating,3.5 star rating,...","Palmyra,Sabella & La Torre,Trattoria Pinocchio..."
3,"San Francisco, CA","$$,$$,$$$,$$,$$,$$,$$,$$$,$$,$$,$$,$$,$$,$$,$$...",91 2809 1088 1088 1069 1066 1036 1030 1028 102...,"3.5 star rating,3 star rating,4.5 star rating,...","Little Creatures Mission Bay,The Beach Chalet ..."
4,"San Francisco, CA","$$,$$,$$,$$,$$$,$$,$$,$$,$$$,$$,$$,$$,$$,$$,$$...",143 176 1468 1466 1441 1431 1406 1396 1363 135...,"4 star rating,4 star rating,4.5 star rating,4 ...","Pesce e Riso,Besharam,The Italian Homemade Com..."
5,"San Francisco, CA","$$,$$,$$,$$$,$$$,$$,$$,$$,$,$$,$$,$$$,$$$,$$,$...",1166 241 4987 4808 4494 3946 3702 3605 3492 32...,"4 star rating,4.5 star rating,4 star rating,4 ...","Burma Love,Tilak,Tony’s Pizza Napoletana,Forei..."
6,"Seattle, WA","$,$$,$$,$,$$,$$,$,$$,$$,$,$,$$,$,$$,$$,$$,$,$,...",65 119 251 248 246 245 243 243 239 238 237 236...,"4.5 star rating,4.5 star rating,3.5 star ratin...","Oh Boy! Oberto Factory Outlet,Meaty Johnson’s ..."
7,"Seattle, WA","$$,$,$$,$$,$$,$$,$$,$$,$$$,$$,$,$$,$$$,$$,$$,$...",186 298 295 294 294 289 289 286 286 284 283 28...,"4 star rating,4 star rating,4 star rating,4 st...","Yen Wor Village,Mi La Cay,Tavolàta,The Pizza C..."
8,"Seattle, WA","$$,$$,$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$...",155 664 365 365 363 360 358 355 354 352 351 33...,"4 star rating,4 star rating,4.5 star rating,4 ...","Teasome,Pho Viet Anh,The Golden Olive,Cafe Vel..."
9,"Seattle, WA","$$,$$,$$,$$,$$$$,$$,$$,$$,$,$$,$$,$,$$,$$,$$,$...",44 611 483 474 473 473 473 470 469 468 464 454...,"3 star rating,4 star rating,3.5 star rating,4 ...","Dalongyi Hot Pot 大龙燚火锅,Fonte Coffee - Seattle,..."
10,"Seattle, WA","$$,$$,$$$,$$,$$,$$,$$$,$$,$$,$$,$$,$$,$$,$$,$,...",104 701 683 671 667 666 655 653 651 632 628 62...,"4.5 star rating,3.5 star rating,4 star rating,...","juisala,Ras Dashen,Osteria la Spiga,Serafina,B..."
11,"Seattle, WA","$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$$,$$,...",77 167 5046 4105 3915 1846 1701 1532 1366 1358...,"4 star rating,4 star rating,4.5 star rating,4 ...","H Bistro,Bodrum Bistro Mediterranean,The Pink ..."
12,"Miami, FL","$$$,$$,$$,$$,$$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$...",304 245 309 304 303 302 300 300 299 298 295 29...,"4.5 star rating,4.5 star rating,4 star rating,...","MesaMar Seafood Table,Alloy Bistro Gourmet,Two..."
13,"Miami, FL","$$,$$,$$,$$,$$$,$$,$$,$$,$$,$$,$$,$$,$$,$,$$,$...",466 697 413 410 410 404 400 392 392 391 391 38...,"4.5 star rating,4.5 star rating,4.5 star ratin...","Biscayne Bay Brewing Company,Pisco Y Nazca Cev..."
14,"Miami, FL","$$,$$$,$$$,$$,$$$,$$$$,$,$$$,$$,$$$,$$,$$,$$,$...",346 548 546 545 543 543 536 526 524 508 505 50...,"4 star rating,3.5 star rating,4 star rating,4....","La Rosa Restaurant,Hotel Breakwater South Beac..."
15,"Miami, FL","$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$,$$...",245 245 1847 1670 1504 1113 1110 1068 1044 945...,"4.5 star rating,4 star rating,3.5 star rating,...","Alloy Bistro Gourmet,Bocas Grill Brickell,Big ..."
16,"Miami, FL","$$,$$$,$,$$,$,$$,$$,$$,$$,$$,$,$$,$$,$$$,$$$,$...",245 304 213 213 211 210 209 207 207 206 206 20...,"4.5 star rating,4.5 star rating,4.5 star ratin...","Alloy Bistro Gourmet,MesaMar Seafood Table,Mar..."
17,"Miami, FL","$$,$$,$$$,$$,$,$$,$$,$$,$$,$$,$$,$,$$,$$,$$,$$...",669 227 268 266 264 261 261 260 257 256 256 25...,"4 star rating,4.5 star rating,4 star rating,4 ...","Sparky’s Roadside Barbecue,BurgerFi,Lique Miam..."
18,"San Jose, CA","$$$$,$$,$$,$,$$,$$,$$,$$,$$$$,$$,$$,$$,$",593 574 292 289 288 286 280 273 271 268 266 26...,"4 star rating,4 star rating,3.5 star rating,4 ...","La Foret,Cucina Venti Restaurant,Bogey’s Pizza..."
19,"San Jose, CA","$$$$,$$,$,$$,$$,$$,$$,$,$$,$$,$$,$$,$$",593 1175 376 366 366 365 362 361 360 357 354 3...,"4 star rating,3 star rating,4.5 star rating,4 ...","La Foret,Loft Bar & Bistro,Italian Brothers Ba..."
20,"San Jose, CA","$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$,$$",119 176 517 501 492 479 478 473 471 470 468 45...,"5 star rating,4.5 star rating,4 star rating,4 ...","Tasty Pizza,Organic Pisa,La Fontaine Restauran..."
21,"San Jose, CA","$,$$,$$,$$,$$,$$,$$,$$,$$,$,$$,$$,$$",550 296 670 659 657 632 630 629 620 618 605 60...,"3 star rating,4 star rating,4 star rating,3.5 ...","Homestead Bowl & The X Bar,Bona Pizza,Blue Lin..."
22,"San Jose, CA","$$,$$,$$,$$,$$,$$,$$,$$,$$$,$$",944 939 937 928 925 916 900 862 837 835,"4 star rating,3 star rating,4 star rating,3.5 ...","Mikonos Grill,Buca di Beppo Italian Restaurant..."
23,"San Jose, CA","$$,$,$$,$$,$,$$,$,$$,$$,$$,$$",688 4301 3751 3606 2727 2658 2217 2048 1696 15...,"3.5 star rating,4 star rating,4.5 star rating,...","Casa Azteca,Falafel’s Drive-In,DishDash,Maggia..."
24,"Washington, DC","$$,$$,$,$$,$,$,$$,$$,$$,$,$,$$,$$,$$,$,$$,$$,$...",171 56 227 222 220 217 217 217 216 213 212 210...,"4 star rating,3 star rating,3 star rating,4 st...","Sotto,Rewind by Decades,Ledo Restaurant,Blaze ..."
25,"Washington, DC","$$,$$,$$,$,$$,$$,$$$,$$,$$,$$,$,$$,$$,$$,$,$$,...",56 731 292 289 288 285 284 281 280 278 277 273...,"3 star rating,4 star rating,4 star rating,3.5 ...","Rewind by Decades,Ghibellina,&pizza - Dupont S..."
26,"Washington, DC","$$,$$$,$$,$$,$$,$,$$$,$,$$$$,$$,$$,$$,$$,$$,$$...",376 371 370 361 359 354 351 348 347 344 342 34...,"4 star rating,4 star rating,4 star rating,3.5 ...","Moby Dick House of Kabob,Al Tiramisu,Seventh H..."
27,"Washington, DC","$$,$$,$,$$,$$,$$,$$$,$$,$,$$$,$$,$$$,$$$,$$,$$...",544 533 517 513 511 503 502 502 497 470 462 46...,"4.5 star rating,3.5 star rating,5 star rating,...","&pizza - K Street,Maggiano’s Little Italy,Fala..."
28,"Washington, DC","$$,$$$$,$$,$$,$$,$$,$$$,$$$,$$,$$,$$,$$,$$,$$,...",751 744 739 736 731 723 722 721 718 710 706 69...,"4 star rating,4 star rating,4 star rating,3.5 ...","Acqua Al 2,Fiola,Floriana,Vapiano,Ghibellina,L..."
29,"Austin, TX","$$,$$,$$,$$,$,$$,$$,$$,$$,$$,$$,$$$",336 77 145 145 143 138 137 137 135 135 132 130...,"4 star rating,4.5 star rating,3 star rating,4 ...","The Rolling Rooster,La Volpe,Austin’s Pizza So..."
30,"Washington, DC","$$,$$$,$$,$$$,$,$$,$$,$$,$$,$$,$$$,$$,$$,$$,$$...",3004 2509 2249 1933 1898 1842 1663 1661 1622 1...,"4.5 star rating,4 star rating,4 star rating,4....","il Canale,Filomena Ristorante,Busboys and Poet..."
31,"Austin, TX","$$,$,$,$$,$$,$,$$,$,$$,$$,$$,$$",153 537 194 193 192 192 188 185 185 185 184 18...,"5 star rating,4 star rating,3 star rating,3.5 ...","SP Brazilian Steakhouse,Corner,Tino’s Greek Ca..."
32,"Austin, TX","$$,$,$$$,$,$$,$$,$,$$,$$,$$,$,$$",379 248 242 240 239 239 238 236 230 229 229 895,"3.5 star rating,4 star rating,4 star rating,4....","Perfect Strangers,Gusto Italian Kitchen & Wine..."
33,"Austin, TX","$$,$$,$$$,$$,$$$,$$,$$,$$,$,$,$$$,$$",753 4 362 360 351 345 344 341 341 326 325 324 135,"4 star rating,4.5 star rating,3.5 star rating,...","Stella San Jac,Chi’Lantro,Mandola’s Italian,L’..."
34,"Austin, TX","$,$$,$,$$,$,$$,$$$,$$,$$,$$,$,$$",112 346 500 498 490 481 479 472 469 468 464 46...,"4 star rating,4 star rating,4.5 star rating,4....","El Sunzal Restaurant,Poke House - Austin,More ..."
35,"Austin, TX","$$,$$,$$,$$,$,$$,$,$$,$$,$$,$$,$$",826 168 3610 1223 1148 973 943 929 892 808 800...,"3.5 star rating,4 star rating,4.5 star rating,...","Punch Bowl Social - Austin,Darna Mediterranean..."

In [6]:
location_, price_, review_count, ratings_, restaurant_name = [], [], [], [], []

##### Function to parse raw data for locations into dataframe

In [7]:
def parse_location(df, new_df):
    df_split = ','.join([str(elem) for elem in df]).split(',')
    new_df = [','.join(df_split[i:i+2]) for i in range(0, len(df_split), 2)]
    return new_df

##### Parsing location data

In [9]:
location_ = parse_location(yelp_raw_data.City, location_)
location_

['San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'San Francisco, CA',
 'Seattle, WA',
 'Seattle, WA',
 'Seattle, WA',
 'Seattle, WA',
 'Seattle, WA',
 'Seattle, WA',
 'Miami, FL',
 'Miami, FL',
 'Miami, FL',
 'Miami, FL',
 'Miami, FL',
 'Miami, FL',
 'San Jose, CA',
 'San Jose, CA',
 'San Jose, CA',
 'San Jose, CA',
 'San Jose, CA',
 'San Jose, CA',
 'Washington, DC',
 'Washington, DC',
 'Washington, DC',
 'Washington, DC',
 'Washington, DC',
 'Austin, TX',
 'Washington, DC',
 'Austin, TX',
 'Austin, TX',
 'Austin, TX',
 'Austin, TX',
 'Austin, TX']

##### Function to parse raw data into dataframe

In [24]:
# Function to parse dataframe based on single comma split followed by unlisting nested lists
def parse_dataframe(df, new_df):
    df = list(map(lambda x: x.split(','), df))
    for i in df:
        for j in i:
            new_df.append(j)
    return new_df

##### Parsing restaurant price data

In [27]:
parse_dataframe(yelp_raw_data.Dollar_sign, price_)
price_

2718

##### Function to parse review counts

In [28]:
def parse_review_counts(df, new_df):
    df_split = ' '.join([str(elem) for elem in df]).split(' ')
    new_df = [','.join(df_split[i:i+1]) for i in range(0, len(df_split))]
    return new_df

##### Parsing restaurant review counts

In [33]:
review_count = parse_review_counts(yelp_raw_data.Nbr_reviews, review_count)
review_count

['560',
 '557',
 '555',
 '553',
 '552',
 '549',
 '544',
 '542',
 '542',
 '541',
 '540',
 '540',
 '539',
 '537',
 '537',
 '532',
 '531',
 '524',
 '523',
 '506',
 '498',
 '497',
 '496',
 '492',
 '490',
 '486',
 '484',
 '483',
 '477',
 '475',
 '661',
 '660',
 '656',
 '653',
 '650',
 '634',
 '631',
 '628',
 '624',
 '624',
 '618',
 '617',
 '615',
 '611',
 '601',
 '592',
 '586',
 '582',
 '582',
 '582',
 '581',
 '580',
 '579',
 '578',
 '578',
 '577',
 '577',
 '576',
 '567',
 '563',
 '860',
 '857',
 '847',
 '840',
 '834',
 '826',
 '822',
 '809',
 '807',
 '803',
 '799',
 '792',
 '788',
 '773',
 '759',
 '753',
 '740',
 '734',
 '728',
 '714',
 '709',
 '708',
 '707',
 '696',
 '692',
 '681',
 '674',
 '670',
 '668',
 '665',
 '91',
 '2809',
 '1088',
 '1088',
 '1069',
 '1066',
 '1036',
 '1030',
 '1028',
 '1020',
 '1020',
 '1013',
 '1009',
 '999',
 '998',
 '983',
 '978',
 '966',
 '961',
 '960',
 '949',
 '943',
 '933',
 '927',
 '922',
 '908',
 '898',
 '898',
 '895',
 '881',
 '871',
 '865',
 '1680',
 '143',
 '176',
 '1468',
 '1466',
 '1441',
 '1431',
 '1406',
 '1396',
 '1363',
 '1357',
 '1347',
 '1329',
 '1282',
 '1267',
 '1255',
 '1243',
 '1241',
 '1230',
 '1218',
 '1195',
 '1179',
 '1177',
 '1162',
 '1161',
 '1159',
 '1142',
 '1127',
 '1113',
 '1111',
 '1099',
 '1096',
 '1093',
 '314',
 '1166',
 '241',
 '4987',
 '4808',
 '4494',
 '3946',
 '3702',
 '3605',
 '3492',
 '3282',
 '2865',
 '2743',
 '2291',
 '2282',
 '2257',
 '2171',
 '2066',
 '2058',
 '2014',
 '1984',
 '1949',
 '1914',
 '1844',
 '1823',
 '1680',
 '1614',
 '1606',
 '1590',
 '1514',
 '1510',
 '1502',
 '1483',
 '707',
 '65',
 '119',
 '251',
 '248',
 '246',
 '245',
 '243',
 '243',
 '239',
 '238',
 '237',
 '236',
 '234',
 '234',
 '233',
 '231',
 '231',
 '231',
 '228',
 '226',
 '226',
 '225',
 '224',
 '222',
 '222',
 '221',
 '221',
 '219',
 '215',
 '213',
 '213',
 '213',
 '254',
 '186',
 '298',
 '295',
 '294',
 '294',
 '289',
 '289',
 '286',
 '286',
 '284',
 '283',
 '283',
 '281',
 '279',
 '277',
 '275',
 '275',
 '273',
 '268',
 '268',
 '267',
 '267',
 '266',
 '265',
 '262',
 '257',
 '256',
 '256',
 '256',
 '255',
 '253',
 '226',
 '155',
 '664',
 '365',
 '365',
 '363',
 '360',
 '358',
 '355',
 '354',
 '352',
 '351',
 '337',
 '334',
 '333',
 '333',
 '323',
 '322',
 '318',
 '316',
 '314',
 '310',
 '310',
 '306',
 '304',
 '304',
 '300',
 '300',
 '300',
 '299',
 '299',
 '299',
 '298',
 '305',
 '44',
 '611',
 '483',
 '474',
 '473',
 '473',
 '473',
 '470',
 '469',
 '468',
 '464',
 '454',
 '449',
 '449',
 '445',
 '444',
 '440',
 '440',
 '433',
 '430',
 '424',
 '414',
 '408',
 '400',
 '399',
 '391',
 '389',
 '383',
 '379',
 '373',
 '372',
 '366',
 '360',
 '104',
 '701',
 '683',
 '671',
 '667',
 '666',
 '655',
 '653',
 '651',
 '632',
 '628',
 '622',
 '613',
 '613',
 '607',
 '589',
 '566',
 '551',
 '540',
 '537',
 '531',
 '523',
 '512',
 '511',
 '498',
 '495',
 '488',
 '486',
 '485',
 '484',
 '484',
 '343',
 '77',
 '167',
 '5046',
 '4105',
 '3915',
 '1846',
 '1701',
 '1532',
 '1366',
 '1358',
 '1277',
 '1190',
 '1154',
 '1127',
 '1110',
 '1027',
 '1020',
 '1016',
 '1016',
 '992',
 '971',
 '964',
 '913',
 '908',
 '856',
 '842',
 '839',
 '823',
 '728',
 '726',
 '714',
 '707',
 '223',
 '304',
 '245',
 '309',
 '304',
 '303',
 '302',
 '300',
 '300',
 '299',
 '298',
 '295',
 '294',
 '294',
 '293',
 '293',
 '291',
 '287',
 '286',
 '283',
 '283',
 '282',
 '281',
 '278',
 '278',
 '276',
 '276',
 '275',
 '275',
 '273',
 '269',
 '269',
 '268',
 '91',
 '466',
 '697',
 '413',
 '410',
 '410',
 '404',
 '400',
 '392',
 '392',
 '391',
 '391',
 '381',
 '379',
 '371',
 '367',
 '367',
 '365',
 '359',
 '358',
 '351',
 '349',
 '340',
 '337',
 '336',
 '333',
 '330',
 '327',
 '325',
 '318',
 '316',
 '316',
 '315',
 '93',
 '346',
 '548',
 '546',
 '545',
 '543',
 '543',
 '536',
 '526',
 '524',
 '508',
 '505',
 '502',
 '494',
 '489',
 '481',
 '480',
 '474',
 '473',
 '470',
 '463',
 '461',
 '461',
 '453',
 '447',
 '439',
 '431',
 '430',
 '429',
 '417',
 '416',
 '415',
 '245',
 '245',
 '1847',
 '1670',
 '1504',
 '1113',
 '1110',
 '1068',
 '1044',
 '945',
 '927',
 '888',
 '862',
 '841',
 '828',
 '804',
 '762',
 '748',
 '742',
 '734',
 '692',
 '678',
 '674',
 '673',
 '657',
 '642',
 '641',
 '633',
 '631',
 '623',
 '589',
 '559',
 '91',
 '245',
 '304',
 '213',
 '213',
 '211',
 '210',
 '209',
 '207',
 '207',
 '206',
 '206',
 '204',
 '203',
 '202',
 '202',
 '201',
 '201',
 '200',
 '199',
 '199',
 '197',
 '195',
 '193',
 '192',
 '191',
 '191',
 '190',
 '190',
 '188',
 '188',
 '187',
 '186',
 '669',
 '227',
 '268',
 '266',
 '264',
 '261',
 '261',
 '260',
 '257',
 '256',
 '256',
 '253',
 '251',
 '249',
 '246',
 '246',
 '245',
 '245',
 '244',
 '242',
 '242',
 '239',
 '239',
 '237',
 '237',
 '234',
 '230',
 '229',
 '220',
 '218',
 '217',
 '216',
 '593',
 '574',
 '292',
 '289',
 '288',
 '286',
 '280',
 '273',
 '271',
 '268',
 '266',
 '266',
 '550',
 '593',
 '1175',
 '376',
 '366',
 '366',
 '365',
 '362',
 '361',
 '360',
 '357',
 '354',
 '352',
 '688',
 '119',
 '176',
 '517',
 '501',
 '492',
 '479',
 '478',
 '473',
 '471',
 '470',
 '468',
 '453',
 '894',
 '550',
 '296',
 '670',
 '659',
 '657',
 '632',
 '630',
 '629',
 '620',
 '618',
 '605',
 '605',
 '1175',
 '944',
 '939',
 '937',
 '928',
 '925',
 '916',
 '900',
 '862',
 '837',
 '835',
 '688',
 '4301',
 '3751',
 '3606',
 '2727',
 '2658',
 '2217',
 '2048',
 '1696',
 '1522',
 '1449',
 '171',
 '56',
 '227',
 '222',
 '220',
 '217',
 '217',
 '217',
 '216',
 '213',
 '212',
 '210',
 '209',
 '203',
 '203',
 '202',
 '199',
 '198',
 '198',
 '197',
 '196',
 '196',
 '195',
 '194',
 '193',
 '192',
 '192',
 '192',
 '191',
 '188',
 '187',
 '186',
 '328',
 '56',
 '731',
 '292',
 '289',
 '288',
 '285',
 '284',
 '281',
 '280',
 '278',
 '277',
 '273',
 '270',
 '263',
 '262',
 '261',
 '256',
 '255',
 '254',
 '254',
 '251',
 '247',
 '245',
 '242',
 '241',
 '240',
 '240',
 '238',
 '232',
 '229',
 '229',
 '229',
 '376',
 '371',
 '370',
 '361',
 '359',
 '354',
 '351',
 '348',
 '347',
 '344',
 '342',
 '341',
 '340',
 '339',
 '336',
 '334',
 '333',
 '331',
 '328',
 '327',
 '323',
 '318',
 '317',
 '315',
 '311',
 '308',
 '303',
 '301',
 '299',
 '299',
 '544',
 '533',
 '517',
 '513',
 '511',
 '503',
 '502',
 '502',
 '497',
 '470',
 '462',
 '461',
 '457',
 '449',
 '430',
 '427',
 '424',
 '418',
 '413',
 '402',
 '398',
 '396',
 '393',
 '389',
 '389',
 '388',
 '387',
 '384',
 '378',
 '378',
 '751',
 '744',
 '739',
 '736',
 '731',
 '723',
 '722',
 '721',
 '718',
 '710',
 '706',
 '698',
 '691',
 '681',
 '673',
 '664',
 '657',
 '656',
 '644',
 '644',
 '636',
 '635',
 '621',
 '612',
 '604',
 '596',
 '584',
 '572',
 '556',
 '552',
 '336',
 '77',
 '145',
 '145',
 '143',
 '138',
 '137',
 '137',
 '135',
 '135',
 '132',
 '130',
 '345',
 '3004',
 '2509',
 '2249',
 '1933',
 '1898',
 '1842',
 '1663',
 '1661',
 '1622',
 '1374',
 '1373',
 '1238',
 '1197',
 '1151',
 '1135',
 '1116',
 '1076',
 '1072',
 '1021',
 '1009',
 '978',
 '970',
 '948',
 '833',
 '832',
 '812',
 '803',
 '781',
 '764',
 '757',
 '153',
 '537',
 '194',
 '193',
 '192',
 '192',
 '188',
 '185',
 '185',
 '185',
 '184',
 '183',
 '92',
 '379',
 '248',
 '242',
 '240',
 '239',
 '239',
 '238',
 '236',
 '230',
 '229',
 '229',
 '895',
 '753',
 '4',
 '362',
 '360',
 '351',
 '345',
 '344',
 '341',
 '341',
 '326',
 '325',
 '324',
 '135',
 '112',
 '346',
 '500',
 '498',
 '490',
 '481',
 '479',
 '472',
 '469',
 '468',
 '464',
 '462',
 '153',
 '826',
 '168',
 '3610',
 '1223',
 '1148',
 '973',
 '943',
 '929',
 '892',
 '808',
 '800',
 '748',
 '77']

##### Function to remove text string from ratings

In [34]:
def numeric_rating(df):
    return df.replace(' star rating', '', regex = True)

##### Removing string from ratings data

In [35]:
ratings_0 = numeric_rating(yelp_raw_data.Rating)

##### Parsing ratings data

In [38]:
parse_dataframe(ratings_0, ratings_)
ratings_

2742

##### Parsing the restaurant names

In [40]:
parse_dataframe(yelp_raw_data.RestName, restaurant_name)
restaurant_name[:5]

1856

In [41]:
yelp_reviews = pd.DataFrame(list(zip(location_, price_, review_count, ratings_, restaurant_name)), columns = ['City','Price_Range', 'Number_of_Reviews', 'Rating', 'Restaurant_Name'])
yelp_reviews.sample(8)

,City,Price_Range,Number_of_Reviews,Rating,Restaurant_Name
6,"Seattle, WA",$$,544,4,Magic Flute Ristorante
5,"San Francisco, CA",$$,549,3.5,California Pizza Kitchen- San Francisco
27,"Washington, DC",$$,483,4,Mazzat
9,"Seattle, WA",$$,541,3.5,Roxanne Cafe
25,"Washington, DC",$$,486,3.5,Jackson Fillmore Trattoria
31,"Austin, TX",$$,660,4,Ragazza
19,"San Jose, CA",$$$,506,4,Venticello Ristorante
32,"Austin, TX",$$,656,4,Spiazzo Ristorante

In [42]:
yelp_reviews

,City,Price_Range,Number_of_Reviews,Rating,Restaurant_Name
0,"San Francisco, CA",$$,560,3.5,Park Gyros
1,"San Francisco, CA",$$,557,4.5,Caffe Macaroni
2,"San Francisco, CA",$$,555,4,Bambino’s Ristorante
3,"San Francisco, CA",$$$,553,4,Allegro Romano
4,"San Francisco, CA",$$,552,4,Tratto
5,"San Francisco, CA",$$,549,3.5,California Pizza Kitchen- San Francisco
6,"Seattle, WA",$$,544,4,Magic Flute Ristorante
7,"Seattle, WA",$$,542,3,North Beach Pizza
8,"Seattle, WA",$$,542,3.5,Marrakech Moroccan Restaurant
9,"Seattle, WA",$$,541,3.5,Roxanne Cafe
10,"Seattle, WA",$$,540,4,Emmy’s Spaghetti Shack
11,"Seattle, WA",$$,540,3.5,Cafe Mystique
12,"Miami, FL",$$,539,3.5,Palio
13,"Miami, FL",$$,537,3.5,Gyro King
14,"Miami, FL",$$$,537,3.5,Zingari Ristorante + Jazz Bar
15,"Miami, FL",$$,532,4,Fior d’Italia
16,"Miami, FL",$$,531,4,Sunrise Deli
17,"Miami, FL",$$,524,4,Acquolina
18,"San Jose, CA",$$,523,3,Amici’s East Coast Pizzeria
19,"San Jose, CA",$$$,506,4,Venticello Ristorante
20,"San Jose, CA",$$,498,2.5,Luigi’s Pizzeria
21,"San Jose, CA",$,497,3.5,Alhamra
22,"San Jose, CA",$,496,3.5,Baladie Gourmet Cafe
23,"San Jose, CA",$$,492,4,Blue Line Pizza
24,"Washington, DC",$$,490,3.5,Golden Gate
25,"Washington, DC",$$,486,3.5,Jackson Fillmore Trattoria
26,"Washington, DC",$$$,484,3.5,Che Fico
27,"Washington, DC",$$,483,4,Mazzat
28,"Washington, DC",$$,477,4.5,Long Bridge Pizza
29,"Austin, TX",$$$,475,4.5,Kitchen Istanbul
30,"Washington, DC",$$,661,4,Bistro Aix
31,"Austin, TX",$$,660,4,Ragazza
32,"Austin, TX",$$,656,4,Spiazzo Ristorante
33,"Austin, TX",$$,653,3.5,Il Borgo
34,"Austin, TX",$$,650,3,Pompei’s Grotto
35,"Austin, TX",$,634,3.5,Yumma’s Mediterranean Grill

-----------

--------------------

##### Clean the rating column to only display the numeric rating out of 5

In [ ]:
import re

# Function to remove string from Rating column
def numeric_rating(df):
    return df.replace(' star rating', '', regex = True)
#     df[column_name] = df[column_name].replace(' star rating', '', regex = True)

ratings_0 = numeric_rating(yelp_raw_data.Rating)
ratings_0 = list(map(lambda x: x.split(','),ratings_0))
# ratings_ = []
for i in ratings_0:
    for j in i:
        ratings_.append(j)

##### Parsing the restaurant names

In [ ]:
import re

# Function to remove text string from Rating column
def rest_name(df):
    return df.replace(' star rating', '', regex = True)
#     df[column_name] = df[column_name].replace(' star rating', '', regex = True)

ratings_0 = numeric_rating(yelp_raw_data.Rating)
ratings_0 = list(map(lambda x: x.split(','),ratings_0))
# ratings_ = []
for i in ratings_0:
    for j in i:
        ratings_.append(j)

In [ ]:
def parse_comma(df):
    return list(map(lambda x: x.split(','), df))

In [ ]:
restname_0 = parse_comma(yelp_raw_data.RestName)

In [ ]:
# cleaning up restaurant names

restname_0 = yelp_raw_data.RestName
c = list(map(lambda x: x.split(','),restname_0))
for i in c:
    for e in i:
        restaurant_name.append(e)
restaurant_name

In [ ]:
# cleaning up review counts
b = yelp_raw_data.Nbr_reviews
c = list(map(lambda x: x.split(','),b))
for i in c:
    for e in i:
        review_count.append(e)
review_count

In [ ]:
# cleaning up price
b = yelp_raw_data.Dollar_sign
c = list(map(lambda x: x.split(','),b))
for i in c:
    for e in i:
        price_.append(e)
price_

In [ ]:
# cleaning up city/state data
location_ = [] 
b = yelp_raw_data.City
b_str = ','.join([str(elem) for elem in b])
b_str

b_split = b_str.split(',')
location_ = [",".join(b_split[i:i+2]) for i in range(0, len(b_split), 2)]
location_

In [ ]:
#  new column names to include the following set of lists
# location_, price_, review_count, reviews_, restaurant_name

In [ ]:
yelp_reviews = pd.DataFrame(list(zip(location_, price_, review_count, reviews_, restaurant_name)), columns = ['City',                 'Price_Range', 'Number_of_Reviews', 'Rating', 'Restaurant_Name'])
yelp_reviews.sample(8)

In [ ]:
yelp_reviews['Rating'] = yelp_reviews['Rating'].astype(float)
yelp_reviews

In [ ]:
yelp_reviews['Price_Value'] = yelp_reviews.apply(lambda row: len(row.Price_Range),axis=1)

In [ ]:
# yelp_reviews
yelp_reviews.columns = ['City', 'Price_Range', 'Number_of_Reviews', 'Rating', 'Restaurant_Name','Price_Value']

In [ ]:
yelp_reviews.head()